body {
    align-content: center;
    background-color: #2d090ead;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Appocalypse','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    color: aliceblue;
}
button {
    margin-bottom: 10px;
}

table, th, td {
	border: 3px solid #f3eff0;
	border-collapse: collapse;
	padding: 10px;
}
